@charset "utf-8";

/*메인 이벤트 팝업 레이어*/
.pop-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.pop-layer .remove-layer {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 16px;
}

.pop-layer .layer-1 {
  position: relative;
  margin: 0 auto;
  margin-top: 15%;
  width: 80%;
  max-width: 390px;
}

.pop-layer > p, .pop-layer > p > label {
  text-align: center;
  color: #fff;
}

.pop-layer .layer-1 > img {
  width: 100%;
  display: block;
}

.black-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

/* gnb */
.gnb__wrapper {
  background-color: #fff;
}
.gnb__wrapper .gnb__list {
  width: 100%;
  overflow: hidden;
  border: 1px solid #d5dae2;
  border-bottom: 0;
  box-sizing: border-box;
}
.gnb__wrapper .gnb__list li {
  float: left;
  width: 25%;
  padding: 10px 4px;
  border-right: 1px solid #d5dae2;
  text-align: center;
  box-sizing: border-box;
}
.gnb__wrapper .gnb__list li:nth-child(4n) {
  border-right: 0;
}
.gnb__wrapper .gnb__list li:nth-child(-n+4) {
  border-bottom: 1px solid #d5dae2;
}
.gnb__wrapper .gnb__list li a {
  font-size: 16px;
  color: #222222;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: -2px;
}

/* 대기업 인사팀 선생리스트 */
.teacher-layout {
  height: 325px;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  border-top: 1px solid #e5e5e5;
}

.teacher-layout > ul {
  margin: 12px 0 0 10.3px;
  width: 800px;
  overflow: hidden;
}

.teacher-layout > ul > li {
  position: relative;
  float: left;
  width: 117.3px;
  height: 144px;
  padding: 0 12px 12px 0;
}

.teacher-layout > ul > li > p > img {
  width: 117.3px;
  height: 144px;
}

.teacher-layout > ul > li > div {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 7px 9px 5px;
}

.teacher-layout > ul > li > div > p:nth-child(1) {
  color: #fff;
  padding: 0 0 5px;
}

.teacher-layout > ul > li > div > p:nth-child(2) {
  color: #b4e5ff;
}

/* 책 리스트 */
.weport_booklist {
  height: 215px;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  border-top: 1px solid #e5e5e5;
}

.weport_booklist .swiper-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.weport_booklist .swiper-slide{-webkit-flex-shrink:0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}

.weport_booklist .swiper-container {
  overflow: hidden;
}

.weport_booklist .weport_booklist__content li {
  width: 150px;
  background: url("../images/bg/bg_book.png") no-repeat center 8px;
  background-size: 100px 115px;
}

.weport_booklist .weport_booklist__content li a {
  display: block;
  text-align: center;
  line-height: 1.3;
}

.weport_booklist .weport_booklist__content li a span {
  display: block;
}

.weport_booklist .weport_booklist__content li .image_box {
  background: url("../images/bg/bg_bookLine.jpg") repeat-x left bottom;
  background-size: 14px 14px;
  padding: 12px 0 13px;
}

.weport_booklist .weport_booklist__content li .image_box .image {
  position: relative;
  display: block;
  width: 72px;
  height: 102px;
  margin: auto;
  overflow: hidden;
}

.weport_booklist .weport_booklist__content li .image_box .image img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100px;
  height: 101px;
  max-width: none;
}

.weport_booklist .weport_booklist__content li .subject {
  color: #0f4793;
  overflow: hidden;
  margin: 2px 10px 1px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.weport_booklist .weport_booklist__content li .writer {
  font-size: 14px;
  color: #9197a3;
}

/* Link-layout */
.m_con_wrap .Link-layout {
  max-width: 720px;
  margin: 8.8px auto 0;
}

.m_con_wrap .Link-layout > ul {
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.m_con_wrap .Link-layout > ul > li {
  float: left;
  width: 33.3%;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.m_con_wrap .Link-layout > ul > li:last-child {
  border-right: none;
}

.m_con_wrap  > .Link-layout > ul > li > img {
  width: 100%;
  display: block;
}

@media all and (min-width: 350px) and (max-width: 410px) {
  .teacher-layout > ul > li {
    padding-right: 30px;
  }
}

@media all and (min-width: 411px) and (max-width: 450px) {
  .teacher-layout > ul > li {
    padding-right: 10px;
  }
}

.block-with-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 18px;
  max-height: 36px;
}


.main_strategic_banner__wrapper {
  overflow: hidden;
}

.main_strategic_banner__wrapper ul li {
  float: left;
}


.mainInformation_banner__wrapper {
  overflow: hidden;
}
.mainInformation_banner__wrapper ul {
  overflow:hidden;
  height:240px;
}

.mainInformation_banner__wrapper ul li {
  float: left;
}

.m_con_wrap{ position:relative; max-width:720px; margin:0 auto; }
.m_pop_event{ position:absolute; top:0; left:0; width:100%; padding:30px 40px 0 40px; z-index:10000; }
.m_pop_event img{ display:block; width:100%; border-radius:10px 10px 0 0; }
.m_pop_event ul{ overflow:hidden; border:1px solid #cccccc; border-radius: 0 0 10px 10px; }
.m_pop_event ul li{ width:49.8%; float:left; border-right:1px solid #cccccc; text-align:center; }
.m_pop_event ul li:last-child{ border-right:none;  }
.m_pop_event ul li a{ display:block; padding:16px 0; background:#fff; font-weight:bold; font-size:16px; color:#333; }


/* Google Frame */
[name=google_conversion_frame] {
  position: absolute;
  left: -9999px;
}